<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UMG.RDx.ETL.CRA.Properties.Settings.RDxETLConnectionString"
            connectionString="Data Source=USHPEPVSQL363;Initial Catalog=RDxETL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UMG.RDx.ETL.CRA.Properties.Settings.RDxReportConnectionString"
            connectionString="Data Source=USHPEPVSQL347;Initial Catalog=RDxReport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>