<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <!-- Log -->
    <add name="RDxLog" connectionString="Data Source=USHPEPVSQL363;Initial Catalog=RDxETL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!-- RDxETL -->
    <add name="RDxETLConnectionString" connectionString="Data Source=USHPEPVSQL363;Initial Catalog=RDxETL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!-- RDxReport -->
    <add name="RDxReportConnectionString" connectionString="Data Source=USHPEPVSQL347;Initial Catalog=RDxReport;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CRA_FILE_ARCHIVE_TIME_IN_DAYS" value="30"/>
    <add key="C@RL_FILE_ARCHIVE_TIME_IN_DAYS" value="30"/>
    <add key="CART_FILE_ARCHIVE_TIME_IN_DAYS" value="30"/>
    <add key="GDRS_FILE_ARCHIVE_TIME_IN_DAYS" value="30"/>
    <add key="ELS_FILE_ARCHIVE_TIME_IN_DAYS" value="30"/>
    <add key="PARTSORDER_FILE_ARCHIVE_TIME_IN_DAYS" value="30"/>
    
    <add key="CARLFilePathIn" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\carl\uat\in\"/>
    <add key="CRAFilePathIn" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\cra\uat\in\"/>
    <add key="D2FilePathIn" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\d2\uat\in\"/>
    <add key="ELSFilePathIn" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\els\uat\in\"/>
    <add key="GDRSFilePathIn" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\gdrs\uat\in\"/>
    <add key="PartsOrderFilePathIn" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\parts_order\uat\in\"/>
    <add key="CARTFilePathIn" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\cart\uat\in\"/>
    
    <add key="CARLFilePathOut" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\carl\uat\out\"/>
    <add key="CRAFilePathOut" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\cra\uat\out\"/>
    <add key="D2FilePathOut" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\d2\uat\out\"/>
    <add key="ELSFilePathOut" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\els\uat\out\"/>
    <add key="GDRSFilePathOut" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\gdrs\uat\out\"/>
    <add key="PartsOrderFilePathOut" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\parts_order\uat\out\"/>
    <add key="CARTFilePathOut" value="\\USHPEWVAPP204\d$\ftproot\LocalUser\cart\uat\out\"/>
  </appSettings>
  
  </configuration>