<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <!-- Log -->
    <add name="RDxLog" connectionString="Data Source=usfshwssql104;Initial Catalog=RDxETL;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <!-- R2 -->
    <add name="UMG.RDx.ETL.R2.Extract.Properties.Settings.RDxETLConnectionString"
        connectionString="Data Source=usfshwssql104;Initial Catalog=RDxETL;Integrated Security=True"
        providerName="System.Data.SqlClient" />

    <add name="UMG.RDx.ETL.R2.Transform.Properties.Settings.RDxETLConnectionString"
        connectionString="Data Source=usfshwssql104;Initial Catalog=RDxETL;Integrated Security=True"
        providerName="System.Data.SqlClient" />

    <add name="UMG.RDx.ETL.R2.Load.Properties.Settings.RDxReportConnectionString"
        connectionString="Data Source=usfshwssql104;Initial Catalog=RDxReport;Integrated Security=True"
        providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>