<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <!-- Log -->
    <add name="RDxLog" connectionString="Data Source=(local);Initial Catalog=RDxETL;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <!-- MP -->
    <add name="UMG.RDx.ETL.MP.Extract.Properties.Settings.RDxETLConnectionString"
        connectionString="Data Source=(local);Initial Catalog=RDxETL;Integrated Security=True"
        providerName="System.Data.SqlClient" />

    <add name="UMG.RDx.ETL.MP.Transform.Properties.Settings.RDxETLConnectionString"
        connectionString="Data Source=(local);Initial Catalog=RDxETL;Integrated Security=True"
        providerName="System.Data.SqlClient" />

    <add name="UMG.RDx.ETL.MP.Load.Properties.Settings.RDxReportConnectionString"
        connectionString="Data Source=USFSHWSSQL104\RIGHTSDEV_2;Initial Catalog=RDxReport;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- MP -->
        <binding name="ReleaseRightsServiceSoap" closeTimeout="00:01:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:15:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="10485760" maxReceivedMessageSize="8388608000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- MP -->
      <endpoint address="http://www.umgmusicportal.com/musicportalws/releaserightsservice.asmx"
            binding="basicHttpBinding" bindingConfiguration="ReleaseRightsServiceSoap"
            contract="ReleaseRightsService.ReleaseRightsServiceSoap" name="ReleaseRightsServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>