@model ReceiptSite.Models.ImageBank

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ImageBank</legend>

    <div class="display-label">ImageType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageType)
    </div>

    <div class="display-label">ImageFilePath</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageFilePath)
    </div>

    <div class="display-label">ThumbnailFilePath</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThumbnailFilePath)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
