<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>




  <log4net>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="c:\Logs\mp_etl.txt" />
      <threshold value="DEBUG" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %5p [%logger] %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %c %m%n%n" />
      </layout>
    </appender>


    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <!-- The filters are processed in order:
        1) match any WARN or higher messages
        2) reject everything else -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <to value="ar.umg.rights.dev@hp.com, Nadia.Pissova-Malpartida@umgtemp.com, Scott.Hill@umgtemp.com"/>
      <from value="RDxApp@mgd.umusic.com"/>
      <subject value="RDxAlert Message DEBUGGING"/>
      <smtpHost value="smtphost.global.umusic.net"/>
      <bufferSize value="10"/>
      <lossy value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %5p [%logger] %m%n" />
      </layout>
    </appender>

    <root>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>





  <connectionStrings>
    <!-- Log -->
    <add name="RDxLog" connectionString="Data Source=usfshwssql077;Initial Catalog=RDxETL;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <!-- MP -->
    <add name="UMG.RDx.ETL.MP.Extract.Properties.Settings.RDxETLConnectionString"
        connectionString="Data Source=usfshwssql077;Initial Catalog=RDxETL;Integrated Security=True"
        providerName="System.Data.SqlClient" />

    <add name="UMG.RDx.ETL.MP.Transform.Properties.Settings.RDxETLConnectionString"
        connectionString="Data Source=usfshwssql077;Initial Catalog=RDxETL;Integrated Security=True"
        providerName="System.Data.SqlClient" />

    <add name="UMG.RDx.ETL.MP.Load.Properties.Settings.RDxReportConnectionString"
        connectionString="Data Source=usfshwssql084;Initial Catalog=RDxReport;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- MP -->
        <binding name="ReleaseRightsServiceSoap" closeTimeout="00:01:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:15:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="10485760" maxReceivedMessageSize="838860800"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- MP -->
      <endpoint address="http://umgmusicportal.com/musicportalws/releaserightsservice.asmx"
            binding="basicHttpBinding" bindingConfiguration="ReleaseRightsServiceSoap"
            contract="ReleaseRightsService.ReleaseRightsServiceSoap" name="ReleaseRightsServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>