<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UMG.RDx.ETL.MP.Extract.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UMG.RDx.ETL.MP.Extract.Properties.Settings.RDxETLConnectionString"
            connectionString="Data Source=usfshwssql104;Initial Catalog=RDxETL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReleaseRightsServiceSoap" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="209715200"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://umgmusicportal.com/musicportalws/releaserightsservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReleaseRightsServiceSoap"
                contract="ReleaseRightsService.ReleaseRightsServiceSoap" name="ReleaseRightsServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <UMG.RDx.ETL.MP.Extract.Properties.Settings>
            <setting name="MPReleaseRightsServiceUser" serializeAs="String">
                <value>Databridge</value>
            </setting>
            <setting name="MPReleaseRightsServicePassword" serializeAs="String">
                <value>N0vaF@ct0r</value>
            </setting>
        </UMG.RDx.ETL.MP.Extract.Properties.Settings>
    </applicationSettings>
</configuration>